bin/
.settings/
.project
.gradle/
*.jar
build/
*.class
*~*
.idea/
.idea/gradle.xml
gradle/
gradlew
gradlew.bat
classes/
*.log
*.log.*
.classpath
.project
out/
node_modules/
src/main/resources/static/**
package-lock.json
